<html>

<head>
    <%- include partials/Links %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
        <script src="/javascripts/controllers/profileController.js"></script>
</head>

<body>
    <%- include partials/AuthHeader %>
    <div class="container">
        <div class="card">
            <div class="job-header">
                <h1><%= job.title %></h1>
                <h4>Posted By:<%= job.client.name %></h4>
            </div>
            <div class="row">
                <div class="col m8">
                    <p class="flow-text">

                    </p>
                </div>
                <div class="col m4">

                </div>
            </div>
        </div>
    </div>
    <%- include partials/AuthFooter %>
</body>

</html>
<% job.skillNeeded.forEach(function(skill){ %>
<li class="collection-item">
    <%= skill %>
</li>
<% }) %>