<!DOCTYPE HTML>
<html>
<head>
<%- include partials/Links %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<title><%= user.name %></title>
</head>


    <body>
        <% include partials/Header %>
            <div class="container">
                <div class="row">
                    <div class="card">
                            <div class="col m5">
                                <div class="card-image">
                                    <img src="/images/avatar.png" alt="Avatar">
                                </div>
                                <div class="card-content black">
                                    <section id= "about">
                                        <div class="content white-text">
                                            <h2>About Me</h2>
                                            <p class="flow-text"><%= user.bio%></p>
                                        </div>
                                    </section>
                                    <section id="skill">
                                            <div class="content">
                                                <h2 class="white-text">Skills</h2>
                                                <ul class="skills">
                                                    <% user.skills.forEach(function(skill){ %>
                                                        <li class="user-skill"><%= skill %></li>
                                                    <% }); %>
                                                </ul>
                                            </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col m7 right">
                                <h1><%= user.name  %></h1>
                                <h6><%= user.email %></h6>
                            </div>
                    </div>
                </div>
            </div>
            <% include partials/Footer %>
    </body>

</html>